<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles.css">
    </linkrel>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>Главная</title>
</head>

<body>
    <div class="preview">
        <div id="preview-avatar">
            <img src="../static/pictures/s1uad_dw.jpg" alt="avatar" id="avatar">
        </div>
        <div id="preview-info">
            <div class="skill" id="languages">
                <img src="../static/pictures/reload.png" alt="🗘" class="reload" id="languages">
                <a class="skill">Языки программирования:</a>
            </div>
            <div class="skill" id="libs">
                <img src="../static/pictures/reload.png" alt="🗘" class="reload" id="libs">
                <a class="skill">Библиотеки и фреймворки:</a>
            </div>
            <div class="skill" id="ability">
                <img src="../static/pictures/reload.png" alt="🗘" class="reload" id="ability">
                <a class="skill">Навыки и технологии:</a>
            </div>
            <div class="skill" id="personal-achievements">
                <img src="../static/pictures/reload.png" alt="🗘" class="reload" id="personal-achievements">
                <a class="skill">Личные достижения:</a>
            </div>
            <div class="skill" id="personal-qualities">
                <img src="../static/pictures/reload.png" alt="🗘" class="reload" id="personal-qualities">
                <a class="skill">Личные качества:</a>
            </div>
            <div class="skill" id="work-experience">
                <img src="../static/pictures/reload.png" alt="🗘" class="reload" id="work-experience">
                <a class="skill">Опыт работы:</a>
            </div>
        </div>
    </div>
    <div class="fake">

    </div>

</body>

    <script src="../static/scripts/switch-skills.js"></script>

</html>